[user]
	email = lukas.ignatavicius@locatory.com
	name = Lukas Ignatavičius
[alias]
	st = status
	ci = commit -v
	retag = !git tag -d $1 && git push origin :refs/tags/$1 && git tag $1 && git push origin tag
[core]
	ignorecase = false
